.error-indicator {
  align-items: center;
  color: #c78f22;
  display: flex;
  flex-direction: column;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.error-indicator img {
  margin-bottom: 1rem;
}

.error-indicator .boom {
  font-size: 1.7rem;
}

.error-indicator button {
  margin-top: 1rem;
}
