.random-planet {
  border: 1px solid #444;
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
}

.random-planet .planet-image {
  border-radius: 10px;
  height: 150px;
  margin-right: 1rem;
  width: 150px;
}

@media (max-width: 450px) {
  .random-planet .planet-image {
    height: 20%;
    width: 20%;
  }
}

.random-planet .list-group {
  margin: 1rem 0 0 1rem;
}

.random-planet .list-group-item {
  padding: 0.25rem;
}

.random-planet .list-group-item .term {
  margin-right: 0.5rem;
}
