.header {
  margin-top: 0.5rem;
  padding-left: 10px;
}

@media (max-width: 767px) {
  .header {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
  }

  .header ul {
    padding: 0;
  }
}

@media (max-width: 450px) {
  .header ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.header ul li {
  border-radius: 3px;
  list-style: none;
  margin: 0;
  padding: 0.5rem 1rem;
}

.header ul li:hover {
  background-color: #444;
}

.active-link {
  border-bottom: 1px solid #fff;
  color: #ffc0cb;
}

.header a:hover {
  text-decoration: none;
}

.header h3 a {
  color: #fff;
}

.header h3 a:hover {
  color: #00bc8c;
}

.header button {
  height: 2.2rem;
  margin-left: 3px;
  margin-top: 1px;
}

@media (max-width: 767px) {
  .header button {
    margin: 0 0 16px;
  }
}
