.item-details {
  border: 1px solid #444;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.item-details .item-image {
  border-radius: 10px;
  height: 30%;
  width: 30%;
}

@media (max-width: 450px) {
  .item-details .item-image {
    height: 20%;
    width: 20%;
  }
}

.item-details .list-group-item {
  padding: 0.25rem;
}

.item-details .list-group-item .term {
  margin-right: 0.5rem;
}

.item-details button {
  margin-top: 5px;
}
